*{
    color: white;
    background-color: black;
}
a{
    background-color: blue;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
}
.botao:hover{
    background-color: navy;
    color: white;
    padding: 5px;
    border-radius: 20px;
    font-size: 20px;
}